/.vs

/AGS/bin
/AGS/obj
/AGS/.vs

AGSDocument/AGSDocument/AGSDocumentGraphQL/obj
AGSDocument/AGSDocument/AGSDocumentGraphQL/bin
AGSDocument/AGSDocument/AGSDocumentFileService/bin
AGSDocument/AGSDocument/AGSDocumentFileService/obj
AGSDocument/AGSDocument/AGSDocumentCore/obj
AGSDocument/AGSDocument/AGSDocumentCore/bin
AGSDocument/AGSDocument/AGSDocumentCore/.vs

/AGSIdentity/bin
/AGSIdentity/Migrations
/AGSIdentity/.vs
/AGSIdentity/obj
/AGSIdentity/bin

/AGSIdentity.Test/bin
/AGSIdentity.Test/obj
/AGSIdentity.Test/.vs

/AGSCommon/bin
/AGSCommon/obj
/AGSCommon/.vs

/AGSFlow/bin
/AGSFlow/obj
/AGSFlow/.vs