/.vs

/AGS/bin
/AGS/obj
/AGS/.vs

/AGSDocument/bin
/AGSDocument/obj
/AGSDocument/.vs

/AGSIdentity/bin
/AGSIdentity/Migrations
/AGSIdentity/.vs
/AGSIdentity/obj
/AGSIdentity/bin

/AGSIdentity.Test/bin
/AGSIdentity.Test/obj
/AGSIdentity.Test/.vs

/AGSCommon/bin
/AGSCommon/obj
/AGSCommon/.vs

/AGSFlow/bin
/AGSFlow/obj
/AGSFlow/.vs