/AGS/bin
/AGS/obj
/AGSDocument/bin
/AGSIdentity/bin
/AGSIdentity/Migrations
/AGSDocument/obj
/AGSIdentity/obj
/AGSIdentity/bin
/AGSCommon/bin
/AGSCommon/obj
/AGSFlow/bin
/AGSFlow/obj
/AGSIdentity.Test/bin
/AGSIdentity.Test/obj