.user-edit.groups.form-control{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.user-edit.groups.form-control .input{
    width: 200px;
    margin: 5px;
    
}

.user-edit.groups.form-control .groupBadge{
    margin: 5px;
}

.user-edit.groups.form-control .groupOption{
    cursor: pointer;
}


.user-edit.groups.form-control .groupList.hide{
    display: none;
    position: absolute;
}

.user-edit.groups.form-control .groupList{
    position: absolute;
}