.ags-navbar {
    background-color: var(--background-tertiary-color);
    border-bottom: 1px solid var(--background-secondary-color);;
}

.navbar-brand {
    font-weight: bold;
    font-family:Courier New;
    font-size: 40px;
}

.ags-navbar a,
.ags-navbar p,
.ags-navbar span{
    color: var(--font-tertiary-color);
}

.ags-navbar a:hover,
.ags-navbar p:hover {
    color: var(--font-secondary-color);
    cursor: pointer;
}

.ags-navbar .dropdown-menu {
    background-color: var(--background-tertiary-color);
}

.ags-navbar .dropdown-item:hover {
    background-color: inherit;
}

.ags-navbar .locale-active {
    font-weight: bold;
}

.ags-navbar .locale-inactive {
    font-weight: 100;
}

.ags-navbar .divLocale{
    margin-right: 1%;
    margin-left: 1%;
}

@media (min-width: 768px) {
    .ags-navbar {
        height: 50px;
    }
}