@page "/counter"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvide

<button class="btn btn-primary">Click me</button>

<AuthorizeView>
    <h1>Username: @context.User.Identity.Name</h1>
    @foreach (var claim in context.User.Claims)
    {
        <p>@claim.Type : @claim.Value</p>
    }
</AuthorizeView>

@code {

}
