@page "/counter"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvide

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <h1>Username: @context.User.Identity.Name</h1>
    @foreach (var claim in context.User.Claims)
    {
        <p>@claim.Type : @claim.Value</p>
    }
</AuthorizeView>

@code {
    private int currentCount = 0;


    private void IncrementCount()
    {
        currentCount++;
    }
}
