@page "/"
@using AGS.Services.AGS.CurrentUser;
@using AGS.Services.AGS.Localization;
@using AGS.Models.ViewModels.Common;
@inject ICurrentUserService _currentUserService
@inject ILocalizationService _localizer

<h1>@_localizer.GetLocalizedString("asg_home_greeting", _appStateContainer.Lang), @_currentUserService.GetCurrentUsername()</h1>

@code{
    [CascadingParameter]
    public AppStateContainer _appStateContainer { get; set; }
}