.main {
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
}

.container {
    margin-top: 1%;
}

body{
    height: 100vh;
}

.sidenav{
    
}

.navbar {
    background: #e3f2fd !important;
}

.sidenav .list-group-item {
    border: none !important;
    color: inherit !important;
    background-color: inherit !important;
}

.navigationbar .form-inline {
    flex-flow: row nowrap;
    width: 12%;
}

.navigationbar .btnLangGroup {
    margin-left: 5%;
    margin-right: 5%;
}


.AutoCompleteSelectContainer.form-control {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: baseline;
    flex-wrap: wrap;
}

.AutoCompleteSelectContainer .AutoCompleteSelect-badge {
    margin: 1%;
}

.AutoCompleteSelectContainer .AutoCompleteSelect-input {
    padding: 5%;
    text-align: left;
}

.AutoCompleteSelectContainer .AutoCompleteSelect-Resultlist {
    
    height: 200px;
    overflow: auto;
}

.modal-header {
    background-color: #f8f9fa;
}

.btn-disabled{
    opacity: .65;
}