.main {
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
}

.container {
    margin-top: 1%;
}

body{
    height: 100vh;
}

.sidenav{
    
}

.navbar {
    background: #e3f2fd !important;
}

.sidenav .list-group-item {
    border: none !important;
    color: inherit !important;
    background-color: inherit !important;
}

.GroupBadgeContainer.form-control{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: baseline;
    flex-wrap:wrap;
}

.GroupBadgeContainer .group-badge{
    margin:1%;
}

.GroupBadgeContainer #txtGroups {
    padding: 5%;
    border: none;
}

.GroupBadgeContainer .GroupsList{
    position: absolute;
}



.AutoCompleteSelectContainer.form-control {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: baseline;
    flex-wrap: wrap;
}

.AutoCompleteSelectContainer .AutoCompleteSelect-badge {
    margin: 1%;
}

.AutoCompleteSelectContainer .AutoCompleteSelect-input{
    padding: 5%;
    border: none;
}

.AutoCompleteSelectContainer .AutoCompleteSelect-Resultlist {
    position: absolute;
}